<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang Chủ</title>
    <link rel="stylesheet" href="../layout/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <!-- ///////section start heade///// -->
      <header>
        <div class="logo"><h1>VieTripSocial</h1></div>
        <div class="search-box">
          <form action="">
            <input type="text" name="search" id="search" placeholder="Search" />
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
        <ul>
          <!-- <li><a href="#">Home</a></li>
          <li><a href="#">Tour</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li> -->
          <!-- <li>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li> -->
          <div class="avatar-img">
            <img src="./img/ava.jpg" alt="" />
          </div>
        </ul>
      </header>
      <!-- ///////section end heade///// -->

      <!-- ///////section start sidebar-left///// -->
      <div class="sidebar-left">
        <ul class="navleft-links">
          <li>
            <div>
              <a href="#">
                <i class="bx bxl-gitlab"></i>
                <span class="link_name">Trang chủ</span>
              </a>
              <i class="bx bx-chevron-down"></i>
            </div>
          </li>
          <li>
            <div>
              <a href="#">
                <i class="bx bxl-gitlab"></i>
                <span class="link_name">Mạng xã hội</span>
              </a>
              <i class="bx bx-chevron-down"></i>
            </div>
          </li>
          <li>
            <div>
              <a href="#">
                <i class="bx bxl-gitlab"></i>
                <span class="link_name">Đặt tour</span>
              </a>
              <i class="bx bx-chevron-down"></i>
            </div>
          </li>
          <li>
            <div>
              <a href="#">
                <i class="bx bxl-gitlab"></i>
                <span class="link_name">Trợ giúp</span>
              </a>
              <i class="bx bx-chevron-down"></i>
            </div>
          </li>
        </ul>
      </div>
      <!-- ///////section end sidebar-left///// -->

      <!-- ///////section start sidebar///// -->
      <div class="sidebar close">
        <div class="logo-details">
          <i class="bx bxl-gitlab"></i>
          <span class="logo_name">Vùng Miền</span>
        </div>
        <ul class="nav-links">
          <li>
            <div class="iocn-link">
              <a href="#">
                <i class="bx bxl-gitlab"></i>
                <span class="link_name">Miền Bắc</span>
              </a>
              <i class="bx bx-chevron-down"></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Miền Bắc</a></li>
              <li><a href="#">Hà Nội</a></li>
              <li><a href="#">Hạ Long</a></li>
              <li><a href="#">Hà Giang</a></li>
              <li><a href="#">Spa</a></li>
            </ul>
          </li>

          <li>
            <div class="iocn-link">
              <a href="#">
                <i class="bx bxl-gitlab"></i>
                <span class="link_name">Miền Trung</span>
              </a>
              <i class="bx bx-chevron-down"></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Miền Trung</a></li>
              <li><a href="#">Hội An</a></li>
              <li><a href="#">Đà Nẵng</a></li>
            </ul>
          </li>
          <li>
            <div class="iocn-link">
              <a href="#">
                <i class="bx bxl-gitlab"></i>
                <span class="link_name">Miền Nam</span>
              </a>
              <i class="bx bx-chevron-down"></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Miền Nam</a></li>
              <li><a href="#">Kiên Giang</a></li>
              <li><a href="#">Cà Mau</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- ///////section end sidebar///// -->
    </div>
  </body>
  <script src="./app.js"></script>
</html>
